.leftsection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 80%;
}

.rightsection {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.mainsection {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

button {
  margin-top: 20px;
}