<button mat-button [routerLink]="['/home']">Retour</button>

<mat-card class="mat-whiteframe-2dp">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{serie.title}}
      </mat-card-title>
      <mat-card-subtitle>
        <strong>Date de sortie :</strong> {{serie.releaseDate | date: 'dd/MM/yyyy'}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <strong>Cette serie comporte :</strong> {{serie.seasonsCount || 'NaN'}} saison{{ serie.seasonsCount > 1 ? 's' : '' }}
      </mat-card-subtitle>
      <img mat-card-image src="http://localhost:3000/static/{{serie.cover || 'empty.jpg'}}">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{serie.description}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/edit', serie.id]">Editer</button>
    <button mat-button (click)="delete()">Supprimer</button>
  </mat-card-actions>
</mat-card>
