<mat-card (click)="navigate(serie.id)" class="mat-whiteframe-2dp">
    <div>
        <img mat-card-md-image src="http://localhost:3000/static/{{serie.cover || 'empty.jpg'}}"/>
    </div>
    <div>
        <mat-card-title-group>
            <mat-card-title>
                <a href="javascript:void(0);">
                <span>{{ serie?.title }}</span>
                </a>
            </mat-card-title>
            <mat-card-subtitle>{{ serie?.releaseDate }}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content> {{serie.description}} </mat-card-content>
    </div>
