<mat-card class="mat-whiteframe-2dp">
    <div>
        <img mat-card-md-image src="http://localhost:3000/static/{{serie.cover || 'empty.jpg'}}"/>
    </div>
    <div>
        <mat-card-title-group>
            <mat-card-title>
                <a href="javascript:void(0);">
                  <span (click)="navigate(serie.id)">{{ serie?.title }}</span>
                  <button (click)="seen(serie.id, serie.seen)" mat-icon-button>
                    <mat-icon *ngIf="serie.seen">visibility</mat-icon>
                    <mat-icon *ngIf="!serie.seen">visibility_off</mat-icon>
                  </button>
                </a>
            </mat-card-title>
            <mat-card-subtitle>{{ serie?.seasonsCount }} saisons</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content> {{serie?.description}} </mat-card-content>
    </div>
